@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #171717; /* neutral-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #e5e5e5; /* neutral-200 */
}